#page {
  display: grid;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
  row-gap: calc(3% + 3px);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 90%;
  height: 95%;
}

.rectangle {
  background-color: #000000;
  margin: auto;
  height: 2%;
  width: 100%;
}
